.Heading_Buttons {
    font-size: 25px;
    
    color: red;
    
    width: 281.6px;
    
    height: 200px;
    
    background-color: lawngreen;
        
    
}
.WhatItsAllAbout {
    font-size: 50px;
        color: red;
            
    
}
.Body {
    background-color: green
    
    
}
.Heading1 {
    font-size: 100px;
        color: red;
    
}